.div.text-right.mb-1
  %a.btn.btn-primary{data: { target: "#globalSlugFormModal", toggle: "modal"}}
    %span New
    %i.bi.bi-plus
.card
  .card-body.p-0
    %table.table.table-striped
      %thead
        %tr
          %th{:style => "width: 10px"} #
          %th Created At
          %th Name
          %th Primary
          %th Actions
      %tbody{ id: "global-slugs-list", data: { item_count: record.global_slugs.size } }
        - record.global_slugs.each_with_index do |slug, index|
          %tr
            %td= "#{index + 1}."
            %td= format_date(slug.created_at)
            %td= slug.name
            %td= slug.primary.to_s
            %td
              .margin
                = link_to web_path_for(record), class: "btn btn-outline-primary mr-1", target: '_blank' do
                  %i.bi.bi-box-arrow-up-right
                = link_to "javascript:void(0);", class: "btn btn-outline-danger mr-1", onclick: "handleDeleteSlug(this, #{slug.id});" do
                  %i.bi.bi-trash
        //%tr
        //  = form_for record.global_slugs.new do |sf|
        //    %td.text-right{ colspan: 2 }
        //      %label.col-form-label
        //        %i.bi.bi-add
        //    %td
        //      = sf.text_field :name, class: "form-control"
        //    %td
        //      = sf.select :primary, [["True", true], ["False", false]], {}, { class: "form-control" }
        //    %td
        //      .margin
        //        = sf.submit 'Add', class: "btn btn-primary mr-1"
