.form-container
  - if @errors&.any?
    = render "admin/shared/errors", errors: @errors

  = form_for @record, data: {turbo: false} do |f|
    .form-group
      %label Name
      = f.text_field :name, class: 'form-control', placeholder: 'Album name'
    .form-group
      %label Slug
      = f.text_field :slug, class: 'form-control', placeholder: 'Auto generated'

    = f.submit 'Submit', class: 'btn btn-primary'
    = link_to 'Back', albums_path, class: "btn btn-default"
