.form-container
  - if @errors&.any?
    = render "admin/shared/errors", errors: @errors

  = form_for @record, data: {turbo: false} do |f|
    .form-group
      %label Name
      = f.text_field :name, class: 'form-control', placeholder: 'Fullname'
    .form-group
      %label Email
      = f.email_field :email, class: 'form-control', placeholder: 'Email address', autocomplete: "email"
    .form-group
      %label Password
      = f.password_field :password, class: 'form-control', placeholder: 'Password'

    = f.submit 'Submit', class: 'btn btn-primary'
    = link_to 'Back', users_path, class: "btn btn-default"
